body{
    overflow-x: hidden
}
img{
    width: 80%;
}
navbar-brand{
    z-index:1;
}
table th{
    font-size: 180%;
}
table td{
    font-size: 150%;
}
form{
    margin-top: 20px;
    padding: 30px;
}
form h3{
    margin-bottom: 20px;
}
form img{
    width: 100%;
}
form label{
    font-size: 22px;
}